.container{
    text-align: center;  
    font-size: large;
    align-items: center;
    line-height: 50px;
    margin-top: 70px;
    
}
.box{
    height: 450px;
    width: 450px;
    border: 2px solid rgb(247, 243, 243);
    margin-top: 100px;
    margin-left: 500px;
    border-radius: 10px;

}
button:hover{
    background-color: hsl(300, 7%, 92%);
}
.input{
    width:230px;
    height: 25px;
    font-size: large;
    line-height: 30px;
    margin-left: 10px;
}
.button{
    height:0px;
    width: 400px;
    background-color: rgb(40, 150, 150);
    border: none;
    
 
}